<mat-list role="list">
    <div class="profile">
        <img src="https://media.istockphoto.com/id/1300845620/vector/user-icon-flat-isolated-on-white-background-user-symbol-vector-illustration.jpg?s=612x612&w=0&k=20&c=yBeyba0hUkh14_jgv1OKqIH0CCSWU_4ckRkAoy2p73o="
            alt="no image">
        <h2>Admin</h2>
        <h4>admin@gmail.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h4 matSubheader>Pages</h4>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institutions</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Courses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employee</a>

</mat-list>